.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
.section_title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}
