.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTopContent {
    font-style: 18px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.headerTopContent p {
    font-style: 18px;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body {
    position: relative;
}

header {
    width: 100%;
    position: fixed;
}







@media only screen and (max-width: 600px) {

    .headerTopContent {
        font-size: 25px;
    }


}