*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: rgb(241, 234, 241);

}

.active {
  /* background-color: #e7dcdc; */
  padding: 4px 5px;
  color: aquamarine;
}

body {
  background-color: #E5E5E5;

}